/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    height: 100vh; /* Full height of the viewport */
    margin: 0; /* Remove default body margin */
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
}

/* Container */
.container {
    max-width: 350px;
    display: flex;
    justify-content: center; /* Center card horizontally */
    align-items: center; /* Center card vertically */
    height: 100%; /* Ensure full height for vertical centering */
}

/* Card */
.card {
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white; /* Ensure card has a background */
    width: 100%;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

/* Logo and Title */
.logo {
    height: 20px;
    margin-right: -5px;
}

.title {
    margin-left: 0.5rem;
    font-weight: bold;
    text-align: center;
}

/* Text */
h2 {
    margin-top:-20px;
    margin-left: 15px;
    text-align: center;
    font-size: 20px;
    color: #333333;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    text-align: center;
    color: #666666;
    margin-bottom: 20px;
}

/* Input */
input[type="email"] {
    margin-left: -10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Button */
button {
    margin-left: -10px;
    background-color: #7010a4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 109%;
    font-size: 16px;
}

button:hover {
    background-color: #4a2cad;
}

/* Back to Login Link */
.back-to-login {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #3f3d46dc;
    text-decoration: none;
    font-size: 14px;
}

.back-to-login:hover {
    text-decoration: underline;
}
